body {
  background-image: url("../img/catMoney.jpg");
  background-size:cover;
  background-color: rgb(220, 242, 248);
  background-repeat: no-repeat;
  text-align: center;
  color: rgba(242, 242, 250, 0.007);
  background-position: center;
  padding: 2px;
}

.container {
  font-size: 20px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0);
  min-width: 0;
  max-width: 310px;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.4rem;
  margin-top: 80px;
  margin-left: 90px;
  padding: 2px;
  border: 2px solid rgba(238, 225, 225, 0.125);
  color: black;
  height: 425px;
}

label{
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}

.converted-currency .results .dollars .error {
  text-align: center;
  color: black;
}

.converted-currency .form-control {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

h3 {
  color: rgba(94, 202, 139, 0.952);
  text-align: center;
  font-size: 70px;
  text-shadow: 0 0 10px rgba(96, 206, 105, 0.849), 0 0 20px #fff, 0 0 30px #00e668;
}

.results {
  display: none;
}